main{
  width: 100vw;
  height: 100vh;
}

header {
  background-color: #53ade2;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

ol {
  word-break: break-all;
  margin-left: 2em;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bolder;
  text-align: right;
  content: counter(item) ".";
}

li::before {
  content: '';
  width: 30px;
  display: inline-block;
}

.mainContent {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.infoContainer{
  /* border: 1px solid palevioletred; */
  width: 80%;
  height: 50%;
  margin-top: 75px;
  background-color: #f6f6f6;
}

.buttonContainer{
  /* border: 1px solid rgb(175, 238, 178); */
  width: 80%;
  height: 10%;
}

.buttonsUnder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navButton{
  background-color: transparent;
  border: none;
  /* border: 1px solid palegoldenrod; */
  width: 100px;
  height: 40px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: medium;
  color: #f6f6f6;
}

.editButton{
  background-color: #53ade2;
  border: none;
  color: #f6f6f6;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  height: 35px;
  width: 80px;
}

.Info{
  display: flex;
  /* border: 1px solid palevioletred; */
  width: 100%;
  height: 100%;
}

.infoBox{
  height: 100%;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid blue; */
  padding: 20px 60px 0 50px;
}

.personName{
  text-decoration: underline;
  text-decoration-color:#53ade2;
}

.indexCounter{
  height: 100%;
  width: 30%;
  /* border: 1px solid green; */
  position: relative;
}

.idCounter{
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
}

.inlineText{
  display: inline;
}

